APP_BASE="{{ passbolt_app_base }}"
APP_FULL_BASE_URL="{{ passbolt_app_full_base_url }}"
DATASOURCES_DEFAULT_HOST="{{ passbolt_datasources_default_host }}"
DATASOURCES_DEFAULT_PORT="{{ passbolt_datasources_default_port }}"
DATASOURCES_DEFAULT_USERNAME="{{ passbolt_datasources_default_username }}"
DATASOURCES_DEFAULT_PASSWORD="{{ passbolt_datasources_default_password }}"
DATASOURCES_DEFAULT_DATABASE="{{ passbolt_datasources_default_database }}"
DATASOURCES_DEFAULT_SSL_KEY="{{ passbolt_datasources_default_ssl_key }}"
DATASOURCES_DEFAULT_SSL_CERT="{{ passbolt_datasources_default_ssl_cert }}"
DATASOURCES_DEFAULT_SSL_CA="{{ passbolt_datasources_default_ssl_ca }}"
DATASOURCES_QUOTE_IDENTIFIER="{{ passbolt_datasources_quote_identifier }}"
EMAIL_TRANSPORT_DEFAULT_CLASS_NAME="{{ passbolt_email_transport_default_class_name }}"
EMAIL_DEFAULT_FROM="{{ passbolt_email_default_from }}"
EMAIL_DEFAULT_TRANSPORT="{{ passbolt_email_default_transport }}"
EMAIL_TRANSPORT_DEFAULT_HOST="{{ passbolt_email_transport_default_host }}"
EMAIL_TRANSPORT_DEFAULT_PORT="{{ passbolt_email_transport_default_port }}"
EMAIL_TRANSPORT_DEFAULT_TIMEOUT="{{ passbolt_email_transport_default_timeout }}"
EMAIL_TRANSPORT_DEFAULT_USERNAME="{{ passbolt_email_transport_default_username }}"
EMAIL_TRANSPORT_DEFAULT_PASSWORD="{{ passbolt_email_transport_default_password }}"
EMAIL_TRANSPORT_DEFAULT_CLIENT="{{ passbolt_email_transport_default_client }}"
EMAIL_TRANSPORT_DEFAULT_TLS="{{ passbolt_email_transport_default_tls }}"
EMAIL_TRANSPORT_DEFAULT_URL="{{ passbolt_email_transport_default_url }}"
GNUPGHOME="{{ passbolt_gnupghome }}"
PASSBOLT_KEY_LENGTH="{{ passbolt_key_length }}"
PASSBOLT_SUBKEY_LENGTH="{{ passbolt_subkey_length }}"
PASSBOLT_KEY_NAME="{{ passbolt_key_name }}"
PASSBOLT_KEY_EMAIL="{{ passbolt_key_email }}"
PASSBOLT_KEY_EXPIRATION="{{ passbolt_key_expiration }}"
PASSBOLT_GPG_SERVER_KEY_FINGERPRINT="{{ passbolt_gpg_server_key_fingerprint }}"
PASSBOLT_GPG_SERVER_KEY_PUBLIC="{{ passbolt_gpg_server_key_public }}"
PASSBOLT_GPG_SERVER_KEY_PRIVATE="{{ passbolt_gpg_server_key_private }}"
PASSBOLT_PLUGINS_EXPORT_ENABLED="{{ passbolt_plugins_export_enabled }}"
PASSBOLT_PLUGINS_IMPORT_ENABLED="{{ passbolt_plugins_import_enabled }}"
PASSBOLT_REGISTRATION_PUBLIC="{{ passbolt_registration_public }}"
PASSBOLT_SSL_FORCE="{{ passbolt_ssl_force }}"
PASSBOLT_SECURITY_SET_HEADERS="{{ passbolt_security_set_headers }}"
