version: '3.5'
services:
  database:
    image: {{ passbolt_database_image }}
    env_file:
      - database.env
    volumes:
      - database:/var/lib/mysql
    ports:
      - {{ passbolt_database_port }}
    restart: unless-stopped
    networks:
      - default
  app:
    image: {{ passbolt_image }}
    tty: true
    depends_on:
      - database
    env_file:
      - app.env
    command: ["/usr/bin/wait-for.sh", "-t", "0", "database:3306", "--", "/docker-entrypoint.sh"]
    volumes:
      - "app-gpg:/var/www/passbolt/config/gpg"
      - "app-images:/var/www/passbolt/webroot/img/public"
      - /dev/urandom:/dev/random
    tmpfs:
      - /run
    ports:
      - {{ passbolt_http_port }}
      - {{ passbolt_https_port }}
    restart: unless-stopped
    networks:
      - default
volumes:
  app-gpg:
  app-images:
  database:
networks:
  default:
  {% if passbolt_network_external %}
  external: {{ passbolt_network_name }}
  {% else %}
  name: {{ passbolt_network_name }}
  {% endif %}
