version: '3.5'
services:
  {{ passbolt_tenant }}_database:
    image: {{ passbolt_database_image }}
    env_file:
      - database.env
    volumes:
      - {{ passbolt_tenant }}_database:/var/lib/mysql
    ports:
      - {{ passbolt_database_port }}
    restart: unless-stopped
    networks:
      - default
  {{ passbolt_tenant }}_app:
    image: {{ passbolt_image }}
    tty: true
    depends_on:
      - {{ passbolt_tenant }}_database
    env_file:
      - app.env
    command: ["/usr/bin/wait-for.sh", "-t", "0", "{{ passbolt_tenant }}_database:3306", "--", "/docker-entrypoint.sh"]
    volumes:
      - "{{ passbolt_tenant }}_app-gpg:/var/www/passbolt/config/gpg"
      - "{{ passbolt_tenant }}_app-images:/var/www/passbolt/webroot/img/public"
      - /dev/urandom:/dev/random
    tmpfs:
      - /run
    ports:
      - {{ passbolt_http_port }}
      - {{ passbolt_https_port }}
    restart: unless-stopped
    networks:
      - default
volumes:
  {{ passbolt_tenant }}_app-gpg:
  {{ passbolt_tenant }}_app-images:
  {{ passbolt_tenant }}_database:
networks:
  default:
    external: {{ passbolt_network_external }}
    name: {{ passbolt_network_name }}
